VITE_API_ADDR=https://windstorm-api.digitalforge.app
VITE_KEYCLOAK_URL=https://keycloak.digitalforge.app
VITE_KEYCLOAK_REALM=digitalforge
VITE_KEYCLOAK_CLIENT_ID=windstorm-trade
VITE_KEYCLOAK_ONLOAD=login-required